:root{
    --main-color:  #f24153;
    --sec-color: #f2e041;
}

::selection{
    color: black;
    background-color: white;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    overflow: hidden;
}

#espacioenblanco{
    top: 0;
    background: linear-gradient(to right, #cc672d 0%, #ffec45 50%, #cc672d 100%);
    background-size: 10000px 100%;
    animation: bg 10s linear infinite;
    position: absolute;
    margin: auto;
    height: 100%;
    width: 55%;
}

@keyframes bg {
    0% {
        background-position-x: 0;
    }   
    100% {
        background-position-x: 10000px;
    }
}

#side{
    margin-left: 60%;
    margin-top: 150px;
    width: 300px;
    letter-spacing: 3px;
}

#side > h1{
    float: right;
    line-height: 90%;
    color: whitesmoke;
    text-align: right;
    width: 300px;
    font-size: 70px;
    /* margin-top: 170px; */
    margin-right: 5%;
    margin-bottom: 10px;
}



#side > p{
    color: whitesmoke;
    float: right;
    width: 300px;
    text-align: right;
}

#foto{
    position: absolute;
    height: 100%;
    filter: grayscale(100%);
}

#socialmedia{
    text-align: center;
}

#socialmedia > a img{
    transition: .3s;
    margin-top: 10px;
    padding-left: 10%;
    filter: invert(1);
    height: 27px;
}

#socialmedia > a img:hover{
    transition: .3s;
    height: 30px;
}

@media screen and (max-width: 768px) {
    body {
        background: linear-gradient(to right, #252525 0%, #bd5d1e 50%, #252525 100%);
        background-size: 10000px 100%;
        animation: bg 10s linear infinite;
    }

    #espacioenblanco{
        opacity: 0;
    }

    @keyframes bg {
        0% {
            background-position-x: 0;
        }   
        100% {
            background-position-x: 10000px;
        }
    }
    
    #side{
        margin-right: auto;
        margin-left: auto;
    }

    #socialmedia{
        padding-left: 0%;
        margin-top: 20px;
    }
}
