:root{
    --main-color:  #fc9684;
    --sec-color: #47ecad;
}

::selection{
    color: black;
    background-color: white;
}

html{
    font-family: 'Inconsolata', monospace;
}

.principal{
    min-height: 100vh;
}

img{
    max-height: 100vh;
}

.me{
    width: 70%;
}

#gradient{
    background: linear-gradient(to right, var(--main-color) 0%, var(--sec-color) 50%, var(--main-color) 100%);
    background-size: 10000px 100%;
    animation: bg 10s linear infinite;
    position: absolute;
    margin: auto;
    height: 100vh;
    width: 60%;
}

@keyframes bg {
    0% {
        background-position-x: 0;
    }   
    100% {
        background-position-x: 10000px;
    }
}

.info{
    letter-spacing: 3px;
}

.info > h1{
        /* float: right; */
    /* line-height: 90%; */
    color: whitesmoke;
    /* text-align: right; */
    /* width: 300px; */
    font-size: 110px;
    /* margin-top: 30%; */
    /* margin-right: 5%; */
    /* margin-bottom: 10px; */
}

.info > p{
    color: white;
}
.socialmedia > a img{
    transition: .3s;
    margin-top: 10px;
    filter: invert(1);
    height: 50px;
}

.socialmedia a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.mobilesocialmedia{
    display: none;
}

.socialmedia > a img:hover{
    transition: .3s;
    
    
}

@media screen and (max-width: 768px) {

    /* body min-height just for testing */
    body{
        /* min-height: 1000px; */
    }

    .me{
        margin-top: 30px;
        width: 100%;
    }

    .row{
        height: 100px;
    }

    .info{
        margin-top: 60px !important;
    }

    .info h1{
        font-size: 50px;
    }
    
    .info p{
        font-size: 20px;
    }

    hr{
        display: none;
    }

    .socialmedia a img{
        height: 30px;
    }

    .placeholder{
        display: none;
    }
}
